body {
    background-color: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
    margin: 0;
    margin-left: 40px;
    margin-right: 40px;
    padding: 0;
}

header {
    background-color: #333333;
}

h1 {
    color: #eee;
    font-size: 28px;  
    text-align: center;
    padding: 20px;
    margin-top: 0;
}

h2 {
    font-size: 24px;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

#main-bio, #bio-image, #contact-info {
    float: left;
}

#main-bio {
    width: 70%;
    line-height: 150%;
}

#bio-image {
    width: 200px;
    margin-right: 40px;
}

#contact-info {
    width: 30%;
    line-height: 150%;
}

ul {
    list-style-type: none;
    border-bottom: 5px solid black;
    width: 200px;
    border-left: 10px solid #d21034;
    padding-left: 5px !important;
}

a {
    color: #d21034;
}